@font-face {
  font-family: "icon";
  src: url('../font/icon.eot?');
  src: url('../font/icon.eot??#iefix') format('eot'),
  url('../font/icon.woff?') format('woff'),
  url('../font/icon.ttf?') format('truetype'),
  url('../font/icon.svg#icon?') format('svg');
  font-weight: normal;
  font-style: normal;
}

.c-icon--arrow-below:before,
.c-icon--arrow-next:before,
.c-icon--arrow-prev:before,
.c-icon--blank:before,
.c-icon--call:before,
.c-icon--check-off:before,
.c-icon--check-on:before,
.c-icon--clipboard-check:before,
.c-icon--contents:before,
.c-icon--cross:before,
.c-icon--facebook-blank:before,
.c-icon--facebook-fill:before,
.c-icon--flow:before,
.c-icon--form:before,
.c-icon--freecall:before,
.c-icon--hatena:before,
.c-icon--heart:before,
.c-icon--home:before,
.c-icon--interview:before,
.c-icon--keep:before,
.c-icon--know-how:before,
.c-icon--limited-kyujin:before,
.c-icon--line:before,
.c-icon--mail:before,
.c-icon--map:before,
.c-icon--number1:before,
.c-icon--number2:before,
.c-icon--number3:before,
.c-icon--number4:before,
.c-icon--present:before,
.c-icon--qa:before,
.c-icon--quote:before,
.c-icon--search:before,
.c-icon--skill-up:before,
.c-icon--star:before,
.c-icon--tag:before,
.c-icon--trend:before,
.c-icon--twitter:before,
.c-icon--validate:before,
.c-icon--view:before,
.c-icon--arrow-below--after:after,
.c-icon--arrow-next--after:after,
.c-icon--arrow-prev--after:after,
.c-icon--blank--after:after,
.c-icon--call--after:after,
.c-icon--check-off--after:after,
.c-icon--check-on--after:after,
.c-icon--clipboard-check--after:after,
.c-icon--contents--after:after,
.c-icon--cross--after:after,
.c-icon--facebook-blank--after:after,
.c-icon--facebook-fill--after:after,
.c-icon--flow--after:after,
.c-icon--form--after:after,
.c-icon--freecall--after:after,
.c-icon--hatena--after:after,
.c-icon--heart--after:after,
.c-icon--home--after:after,
.c-icon--interview--after:after,
.c-icon--keep--after:after,
.c-icon--know-how--after:after,
.c-icon--limited-kyujin--after:after,
.c-icon--line--after:after,
.c-icon--mail--after:after,
.c-icon--map--after:after,
.c-icon--number1--after:after,
.c-icon--number2--after:after,
.c-icon--number3--after:after,
.c-icon--number4--after:after,
.c-icon--present--after:after,
.c-icon--qa--after:after,
.c-icon--quote--after:after,
.c-icon--search--after:after,
.c-icon--skill-up--after:after,
.c-icon--star--after:after,
.c-icon--tag--after:after,
.c-icon--trend--after:after,
.c-icon--twitter--after:after,
.c-icon--validate--after:after,
.c-icon--view--after:after {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}

.c-icon--arrow-below:before { content: "\EA01"; }
.c-icon--arrow-next:before { content: "\EA02"; }
.c-icon--arrow-prev:before { content: "\EA03"; }
.c-icon--blank:before { content: "\EA04"; }
.c-icon--call:before { content: "\EA05"; }
.c-icon--check-off:before { content: "\EA06"; }
.c-icon--check-on:before { content: "\EA07"; }
.c-icon--clipboard-check:before { content: "\EA08"; }
.c-icon--contents:before { content: "\EA09"; }
.c-icon--cross:before { content: "\EA0A"; }
.c-icon--facebook-blank:before { content: "\EA0B"; }
.c-icon--facebook-fill:before { content: "\EA0C"; }
.c-icon--flow:before { content: "\EA0D"; }
.c-icon--form:before { content: "\EA0E"; }
.c-icon--freecall:before { content: "\EA0F"; }
.c-icon--hatena:before { content: "\EA10"; }
.c-icon--heart:before { content: "\EA11"; }
.c-icon--home:before { content: "\EA12"; }
.c-icon--interview:before { content: "\EA13"; }
.c-icon--keep:before { content: "\EA14"; }
.c-icon--know-how:before { content: "\EA15"; }
.c-icon--limited-kyujin:before { content: "\EA16"; }
.c-icon--line:before { content: "\EA17"; }
.c-icon--mail:before { content: "\EA18"; }
.c-icon--map:before { content: "\EA19"; }
.c-icon--number1:before { content: "\EA1A"; }
.c-icon--number2:before { content: "\EA1B"; }
.c-icon--number3:before { content: "\EA1C"; }
.c-icon--number4:before { content: "\EA1D"; }
.c-icon--present:before { content: "\EA1E"; }
.c-icon--qa:before { content: "\EA1F"; }
.c-icon--quote:before { content: "\EA20"; }
.c-icon--search:before { content: "\EA21"; }
.c-icon--skill-up:before { content: "\EA22"; }
.c-icon--star:before { content: "\EA23"; }
.c-icon--tag:before { content: "\EA24"; }
.c-icon--trend:before { content: "\EA25"; }
.c-icon--twitter:before { content: "\EA26"; }
.c-icon--validate:before { content: "\EA27"; }
.c-icon--view:before { content: "\EA28"; }


.c-icon--arrow-below--after:after { content: "\EA01"; }
.c-icon--arrow-next--after:after { content: "\EA02"; }
.c-icon--arrow-prev--after:after { content: "\EA03"; }
.c-icon--blank--after:after { content: "\EA04"; }
.c-icon--call--after:after { content: "\EA05"; }
.c-icon--check-off--after:after { content: "\EA06"; }
.c-icon--check-on--after:after { content: "\EA07"; }
.c-icon--clipboard-check--after:after { content: "\EA08"; }
.c-icon--contents--after:after { content: "\EA09"; }
.c-icon--cross--after:after { content: "\EA0A"; }
.c-icon--facebook-blank--after:after { content: "\EA0B"; }
.c-icon--facebook-fill--after:after { content: "\EA0C"; }
.c-icon--flow--after:after { content: "\EA0D"; }
.c-icon--form--after:after { content: "\EA0E"; }
.c-icon--freecall--after:after { content: "\EA0F"; }
.c-icon--hatena--after:after { content: "\EA10"; }
.c-icon--heart--after:after { content: "\EA11"; }
.c-icon--home--after:after { content: "\EA12"; }
.c-icon--interview--after:after { content: "\EA13"; }
.c-icon--keep--after:after { content: "\EA14"; }
.c-icon--know-how--after:after { content: "\EA15"; }
.c-icon--limited-kyujin--after:after { content: "\EA16"; }
.c-icon--line--after:after { content: "\EA17"; }
.c-icon--mail--after:after { content: "\EA18"; }
.c-icon--map--after:after { content: "\EA19"; }
.c-icon--number1--after:after { content: "\EA1A"; }
.c-icon--number2--after:after { content: "\EA1B"; }
.c-icon--number3--after:after { content: "\EA1C"; }
.c-icon--number4--after:after { content: "\EA1D"; }
.c-icon--present--after:after { content: "\EA1E"; }
.c-icon--qa--after:after { content: "\EA1F"; }
.c-icon--quote--after:after { content: "\EA20"; }
.c-icon--search--after:after { content: "\EA21"; }
.c-icon--skill-up--after:after { content: "\EA22"; }
.c-icon--star--after:after { content: "\EA23"; }
.c-icon--tag--after:after { content: "\EA24"; }
.c-icon--trend--after:after { content: "\EA25"; }
.c-icon--twitter--after:after { content: "\EA26"; }
.c-icon--validate--after:after { content: "\EA27"; }
.c-icon--view--after:after { content: "\EA28"; }
