sprite-responsive($sprite)
	white-space nowrap
	text-indent 100%
	overflow hidden
	font-size 0

	$sprite_w = $sprite[6]
	$sprite_h = $sprite[7]
	$image_w = $sprite[4]
	$image_h = $sprite[5]
	$offset_x = $sprite[0]
	$offset_y = $sprite[1]

	background-image url($sprite[8])
	background-size ($sprite_w / $image_w * 100)% ($sprite_h / $image_h * 100)%
	background-position ($offset_x / ($sprite_w - $image_w) * 100)% ($offset_y / ($sprite_h - $image_h) * 100)%
	background-repeat: no-repeat

	&::after
		content ''
		display block
		padding-top ($image_h / $image_w * 100)%
