// Facebook
meta(property='og:title', content='template title')
meta(property='og:url', content='https://template.com/')
meta(property='og:type', content='website')
meta(property='og:image', content='https://template.com/ogimage.png')
meta(property='og:site_name', content='template sitename')
meta(property='og:description', content='template description')

// Twitter
meta(name='twitter:card', content='summary_image')